{% extends 'base.html.twig' %}

{% block title %}Commande indisponible!{% endblock %}

{% block body %}
<h1>Oups, cette commande est indisponible...</h1>
<p><a href="{{ path('commandes') }}"</a>Retour</p>
{% endblock %}

