/* assets/js/calendar/index.css */

/* @import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap'); */
@import "~@fullcalendar/common/main.css";

* {
  font-family: Arial;
  font-size: 12px;
}

#calendar-holder {
  width: 80%;
  margin: auto;
}

.fc-toolbar h2,
.fc th {
  font-weight: inherit;
}



