{% extends 'base.html.twig' %}

{% block title %}Test 5{% endblock %}

{% block body %}
    <img src ="{{ asset('images/logo_PSL.svg') }}" height="70px" alt="PSL">
    <h1>Test 5</h1>

{% endblock %}
